/* SignupBox Styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');

.signUpBox {
<<<<<<< HEAD
  width: 520px;
  height: 570px;
  border-radius: 10px;
  z-index: 10;
  border: 0px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 1);
  position: absolute;
  top:30%;
  left:30%;
=======
  margin-top:100px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 570px;
  border-radius: 10px;
  z-index: 10000;
  border: 0px solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, .7);
>>>>>>> 448590ccfb2f9c2bbd0edad0424a664c5b3b189f
}
html, p {
  font-family: 'Roboto', sans-serif;
}
<<<<<<< HEAD
=======
/*.signUpHeader {
  background: rgba(128, 128, 128, .9);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: 1px solid black;
}*/
>>>>>>> 448590ccfb2f9c2bbd0edad0424a664c5b3b189f
.signUpHeader p {
  padding: 0 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.closeX {
  float: right;
}
.x {
  font-size: 20px;
  color:rgba(128, 128, 128, .9);
}
.x:hover {
 color: rgba(128, 128, 128, .9);
 animation: bounce 2s;
 animation-iteration-count: 1;
}
.signUpContent {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 1.9em;
 text-align: center;
<<<<<<< HEAD
}

.input {
=======
 padding-left:30px;
 padding-right:30px;
}

.signUpInput {
>>>>>>> 448590ccfb2f9c2bbd0edad0424a664c5b3b189f
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  text-align: center;
  height: 25px;
  font-size: 25px;
  border-color: rgba(128, 128, 128, .7);
  margin-top: 15px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, .7);
}

<<<<<<< HEAD
.input::placeholder {
=======
.signUpInput::placeholder {
>>>>>>> 448590ccfb2f9c2bbd0edad0424a664c5b3b189f
  color: rgba(128, 128, 128, .85);
  font-weight: lighter;
}

<<<<<<< HEAD
.input:focus {
=======
.signUpInput:focus {
>>>>>>> 448590ccfb2f9c2bbd0edad0424a664c5b3b189f
  outline: none;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);

  }
}

.firstLast {
<<<<<<< HEAD
  align-items: center;
  justify-content: center;
  width:auto;
}

.firstNameInput{
  width: auto;
=======
  display:flex;
  width:100%;
  align-items: center;
  justify-content: center;
}

.firstNameInput{
  width: 50%;
>>>>>>> 448590ccfb2f9c2bbd0edad0424a664c5b3b189f
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  text-align: center;
  height: 25px;
  font-size: 25px;
  border-color: rgba(128, 128, 128, .7);
  margin-top: 15px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, .7);
  font-weight: lighter;
}

.firstNameInput::placeholder {
  color: rgba(128, 128, 128, .85);
  font-weight: lighter;
}

.firstNameInput:focus {
  outline: none;
}

.lastNameInput{
<<<<<<< HEAD
  width:40%;
=======
  width:50%;
>>>>>>> 448590ccfb2f9c2bbd0edad0424a664c5b3b189f
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  text-align: center;
  height: 25px;
  font-size: 25px;
  border-color: rgba(128, 128, 128, .7);
  margin-top: 15px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, .7);
  font-weight: lighter;
}

.lastNameInput::placeholder {
  color: rgba(128, 128, 128, .85);
  font-weight: lighter;
}

.lastNameInput:focus {
  outline: none;
}

.signUpButton{
 width:220px;
 display: inline-block;
 padding: 10px 14px;
 color: rgba(255,255,255, .8);
 border: 0px solid rgba(128, 128, 128, .8);
 text-decoration: none;
 line-height: 100%;
 background-color: rgba(128, 128, 128, .8);
 border-radius: 6px;
 transition: 400ms ease;
 font-weight: lighter;
 outline: none;
 cursor: pointer;
 font-size: .8em;
 margin-top: 30px;
}

.signUpButton:hover {
  background-color:rgba(128, 128, 128, 1);
  color: #fff;
  border: 0px solid rgba(128, 128, 128, 1);
}

.signUpButton:active {

}
